@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: 'Archivo',Arial, sans-serif;
    font-weight: 600;
    font-size: 18px;
}
html{
    scroll-behavior: smooth;
    scroll-padding-top: 120px;
    scrollbar-width: none;
    background-color:#3B2416;
}
.escolhas:hover .item:not(:hover){
    filter: blur(5px);
}

.categoriaon{
    font-size: 24px;
    font-weight: 700;
    color: #C7794A;
}
.spanon{
    width: 30px;
    background-color: #C7794A;
}
.overlayoff{
    opacity: 0;
    visibility: hidden;
}
.overlayon{
    opacity: 1;
    visibility: visible;
}
.menuoff{
    transform: translateX(-100%);
}
.menuon{
    transform: translateX(0%);
}