@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: 'Archivo',Arial, sans-serif;
    font-weight: 600;
    font-size: 18px;
}
html{
    scroll-behavior: smooth;
    scroll-padding-top: 120px;
}
.carrosel{
    width: 1100px;
}
